service update_verifier_nonencrypted /system/bin/update_verifier nonencrypted
    user root
    group cache system
    priority -20
    ioprio rt 0

service update_verifier /system/bin/update_verifier ${vold.decrypt}
    user root
    group cache system
    priority -20
    ioprio rt 0
