[access]
	inheritFrom = All-Projects
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Recovery Maintainers
	label-Verified = -1..+1 group Recovery Maintainers
	submit = group Recovery Maintainers
[access "refs/heads/android-6.0"]
	push = +force group user/Dees Troy (Dees_Troy)
	create = group user/Dees Troy (Dees_Troy)
