on late-init
    start logd

service logd /system/bin/logd
    class core
    socket logdr seqpacket 0666 root root
    socket logdw dgram+passcred 0222 root root
    file /proc/kmsg r
    file /dev/kmsg w
    user root
    group root
    capabilities SYSLOG AUDIT_CONTROL SETGID SETUID
    seclabel u:r:logd:s0
