on init
    start hwservicemanager

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0
