CONFIGURE_ARGS="\
 \
"

# unneeded directories
UNNEEDED_SOURCES="\
lib/scryptenc \
"

# unneeded files
UNNEEDED_SOURCES+="\
config.h.in \
configure \
FORMAT \
main.c \
Makefile.in \
scrypt.1 \
lib/crypto/crypto_aesctr.c \
lib/crypto/crypto_aesctr.h \
lib/crypto/crypto_scrypt-nosse.c \
lib/crypto/sha256.c \
lib/crypto/sha256.h \
lib/util/memlimit.c \
lib/util/memlimit.h \
lib/util/readpass.c \
lib/util/readpass.h \
lib/util/warn.c \
lib/util/warn.h \
"

NEEDED_SOURCES="\
config.h \
lib \
scrypt_platform.h \
"

SCRYPT_INCLUDES="\
lib/crypto \
lib/util \
"

SCRYPT_SOURCES="\
lib/crypto/crypto_scrypt-ref.c \
"

SCRYPT_SOURCES_arm="\
"

SCRYPT_SOURCES_EXCLUDES_arm="\
"

SCRYPT_SOURCES_arm_neon="\
lib/crypto/crypto_scrypt-neon.c \
"

SCRYPT_SOURCES_EXCLUDES_arm_neon="\
lib/crypto/crypto_scrypt-ref.c \
"

SCRYPT_SOURCES_mips="\
"

SCRYPT_SOURCES_EXCLUDES_mips="\
"

SCRYPT_SOURCES_x86="\
lib/crypto/crypto_scrypt-sse.c \
"

SCRYPT_SOURCES_EXCLUDES_x86="\
lib/crypto/crypto_scrypt-ref.c \
"

SCRYPT_SOURCES_x86_64="\
lib/crypto/crypto_scrypt-sse.c \
"

SCRYPT_SOURCES_EXCLUDES_x86_64="\
lib/crypto/crypto_scrypt-ref.c \
"

SCRYPT_PATCHES="\
use_openssl_pbkdf2.patch \
arm-neon.patch \
"

SCRYPT_PATCHES_use_openssl_pbkdf2_SOURCES="\
lib/crypto/crypto_scrypt-ref.c \
"

SCRYPT_PATCHES_bionic_SOURCES="\
lib/crypto/crypto_scrypt-neon.c \
lib/crypto/crypto_scrypt-neon-salsa208.h \
"
